.button_component {
  outline: none;
  border: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 70 px;
  width: 100%;
  background-color: blue;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
