.button_component {
  /* outline: none;
  border: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 70 px;
  width: 100%;
  background-color: blue;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer; */

  outline: none;
  border: none;
  width: 470px;
  height: 70px;
  border-radius: 4px;
  padding: 20 54 20 54;
  gap: 10px;
  background-color: #1f27f5;
  font-family: Lato, sans-serif;
  font-weight: 600;
  font-size: 20px;
  align-self: center;
  color: white;
  cursor: pointer;
}
