.card_component {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-height: fit-content;
  min-height: 300px;
  border-radius: 15px;
  border: 2px solid grey;
  padding: 25px;
  margin: 25 px;
  background-color: rgb(137, 218, 218);
}

.card_title {
  font-size: 20px;
  color: blue;
  font-weight: bold;
}

.card_avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-items: center;
  align-self: center;
}

.card_info {
  font-size: 18px;
  color: black;
  width: b;
}

.info_title{
  font-weight: bold;
}
